#!/bin/zsh
function auto-retry()
{
    false
    while [ $? -ne 0 ]; do
        "$@" || (sleep 1;false)
    done
}

function fix-fonts() {
    echo "Upgrading to powerline fonts"
    export LC_CLIENT_HAS_DOT_FILE_REPO=1
    source ~/.p10k.zsh
}

# Make dir and cd into it with 'take' or just 'tk'
function take() { mkdir -p $1; cd $1; }

portslay () {
    kill -9 `lsof -i tcp:$1 | tail -1 | awk '{ print $2;}'`
}


extip () {
    # gather external ip address
    echo -n "Current External IP: "
    curl -s -m 5 https://ifconfig.co
}

docker_get_ip () {        
    docker inspect -f {{`'{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}'`}} $1
}

dockerhere () {
    docker run -ti -v `pwd`:/mnt/here -w /mnt/here $@
}

push () {
    curl -s -F "token={{(bitwarden "item" "pushover-chezmoi").login.password}}" \
    -F "user={{(bitwarden "item" "pushover-chezmoi").login.username}}" \
    -F "title=ZSH Sez" \
    -F "message=$1" https://api.pushover.net/1/messages.json
}

getips() {
    if [ -z "$1" ]; then
        ip addr show | awk '/inet/ {printf "%-10s\t%s\n", $NF, $2}'
    else
        ip addr show $1 | awk '/inet/ {printf "%-10s\t%s\n", $NF, $2}'
    fi
}

gitlab_get_merge_requests() {
    git --no-pager log $1..$2 --merges --pretty=format:'%h Merge Request: %b%n%s%n'
}
