source ~/bin/antigen/antigen.zsh
POWERLEVEL9K_INSTALLATION_PATH=$ANTIGEN_BUNDLES/bhilburn/powerlevel9k
POWERLEVEL9K_MODE=nerdfont-complete
antigen use oh-my-zsh
# antigen theme bhilburn/powerlevel9k powerlevel9k
antigen theme romkatv/powerlevel10k
#TODO check for autojump script
antigen bundle 256color
antigen bundle autojump
antigen bundle unixorn/autoupdate-antigen.zshplugin
antigen bundle colorize
antigen bundle git
antigen bundle pip
antigen bundle zsh-users/zsh-syntax-highlighting
antigen bundle zsh-users/zsh-history-substring-search
antigen bundle docker
antigen bundle wd
antigen bundle extract
#antigen bundle dirhistory
antigen bundle sudo
antigen bundle vagrant
antigen bundle web-search
antigen bundle mosh
antigen bundle thefuck
antigen bundle iterm2
antigen bundle python
antigen bundle "rawkode/zsh-docker-run"
antigen bundle notify
export NVM_LAZY_LOAD=true
NVM_SYMLINK_CURRENT=true
antigen bundle lukechilds/zsh-nvm
setopt EXTENDED_GLOB
# OS X plugins
#if [ `uname` = "Darwin" ]; then
 #antigen bundle brew
 #antigen bundle osx
#fi
{{- if (eq .chezmoi.os "osx") }}
antigen bundle osx
{{- end }}

{{- if (eq .chezmoi.os "linux") }}
export PATH=$PATH:$HOME/.local/bin
{{- if (eq (index .chezmoi "osRelease" "id") "ubuntu") }}
export PATH=$PATH:/snap/bin
antigen bundle ubuntu
{{- end }}
{{- if (eq (index .chezmoi "osRelease" "id") "debian") }}
antigen bundle debian
{{- end }}
{{- end }}

#antigen theme agnoster

antigen apply
export EDITOR=vim
bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down

source ~/.zsh_paths
source ~/.zsh_aliases
source ~/.zsh_power9k

# Uncomment the following line to enable command auto-correction.
ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
COMPLETION_WAITING_DOTS="true"

[ -f ~/.zsh_host ] && source ~/.zsh_host # This file is host specific/not necessarily required or on github


DEFAULT_USER=`whoami`
if [ -x "$(command -v neofetch)" ]; then
        neofetch
fi

#test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"
eval "$(direnv hook zsh)"
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
function auto-retry()
{
    false
    while [ $? -ne 0 ]; do
        "$@" || (sleep 1;false)
    done
}

