#pip3 for python by default
#alias pip="pip3"

#SFW version of thefuck command
alias heck="fuck"
alias please="fuck"

alias sshq="ssh -o 'StrictHostKeyChecking=no' -q"
alias netns="sudo ip netns"

updatekeys () {
    if [[ ! -d "~/.ssh" ]];
    then
        mkdir ~/.ssh;
        chmod 700 ~/.ssh;
    fi
    curl "https://github.com/benrlewis.keys" >> ~/.ssh/authorized_keys
}

# Aliases for counting words in git diff
alias gitwa="git diff --word-diff=porcelain HEAD\^ | grep \"^+\" | wc -w | xargs"
alias gitwd="git diff --word-diff=porcelain HEAD\^ | grep -e \"^-\" | wc -w | xargs"
alias gitw='echo $(($(gitwa) - $(gitwd)))'

alias lolcat="lolcat-c"
alias taketempd="cd $(mktemp -d)"
