#pip3 for python by default
#alias pip="pip3"

#SFW version of thefuck command
alias heck="fuck"
alias please="fuck"

#Clear muscle memory
alias clear="clear && echo 'Use CTRL L'"

#Docker exec cli shortcut
alias dexec="docker exec -it"

#alias zshrc="source .zshrc && export PS1=%{%f%b%k%}$(build_prompt) "

alias dotupdate="cd ~/dotfiles && git pull && source ~/.zshrc"

alias sshq="ssh -o 'StrictHostKeyChecking=no' -q"
alias sshv="ssh -L 5901:localhost:5901"
alias dssh="ssh -D 8989"
alias netns="sudo ip netns"

alias pipupgrade="pip freeze — local | grep -v ‘^\-e’ | cut -d = -f 1 | xargs -n1 pip install -U"

alias pip3upgrade="pip3 freeze — local | grep -v ‘^\-e’ | cut -d = -f 1 | xargs -n1 pip3 install -U"
#alias hg='history | grep'

updatekeys () {
    if [[ ! -d "~/.ssh" ]];
    then
        mkdir ~/.ssh;
        chmod 700 ~/.ssh;
    fi
    curl "https://github.com/benrlewis.keys" >> ~/.ssh/authorized_keys
}

# Aliases for counting words in git diff
alias gitwa='git diff --word-diff=porcelain origin/master | grep -e "^+[^+]" | wc -w | xargs'
alias gitwd='git diff --word-diff=porcelain origin/master | grep -e "^-[^-]" | wc -w | xargs'
alias gitw='echo $(($(gitwa) - $(gitwd)))'