source ~/.local/bin/antigen/antigen.zsh
POWERLEVEL9K_INSTALLATION_PATH=$ANTIGEN_BUNDLES/bhilburn/powerlevel9k
POWERLEVEL9K_MODE=nerdfont-complete

antigen bundle "rawkode/zsh-docker-run"
antigen bundle 256color
antigen bundle autojump
antigen bundle bat
antigen bundle colorize
antigen bundle docker
antigen bundle extract
antigen bundle git
antigen bundle iterm2
antigen bundle lukechilds/zsh-nvm
antigen bundle mosh
antigen bundle multipass
antigen bundle notify
antigen bundle pip
antigen bundle python
antigen bundle sudo
antigen bundle thefuck
antigen bundle unixorn/autoupdate-antigen.zshplugin
antigen bundle vagrant
antigen bundle vi-mode
antigen bundle web-search
antigen bundle zsh-users/zsh-history-substring-search
antigen bundle zsh-users/zsh-syntax-highlighting
antigen theme romkatv/powerlevel10k
antigen use oh-my-zsh

export NVM_LAZY_LOAD=true
NVM_SYMLINK_CURRENT=true
setopt EXTENDED_GLOB

{{- if (eq .chezmoi.os "osx") }}
    antigen bundle osx
{{- end }}

{{- if (eq .chezmoi.os "linux") }}
    {{- if (eq (index .chezmoi "osRelease" "id") "ubuntu") }}
    export PATH=$PATH:/snap/bin
    antigen bundle ubuntu
    {{- end }}
    {{- if (eq (index .chezmoi "osRelease" "id") "debian") }}
    antigen bundle debian
    {{- end }}
{{- end }}

antigen apply
export EDITOR=vim

source ~/.zsh_paths
source ~/.zsh_aliases
source ~/.zsh_funcs

# Uncomment the following line to enable command auto-correction.
ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
COMPLETION_WAITING_DOTS="true"

[ -f ~/.zsh_host ] && source ~/.zsh_host # This file is host specific/not necessarily required or on github


DEFAULT_USER=`whoami`
if [ -x "$(command -v neofetch)" ]; then
        neofetch
fi

[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
# Fall back mode for powerlevel10k when SSH-ing to server with dot-file-repo and
# powerlevel10k installed, but dot-file-repo and fonts not available on client.
if [ -z $SSH_CLIENT ]; then
    # this env variable will be available only if this .zshrc is used on client
    export LC_CLIENT_HAS_DOT_FILE_REPO=1
fi
if [ -z $LC_CLIENT_HAS_DOT_FILE_REPO ]; then
    echo "Activating font fallback mode"
    source ~/.powerlevel9k_settings_no_font_fallback.sh
fi


