#!/bin/bash
set -e
if [ ! -d ~/.local/bin ]; then
  mkdir ~/.local/bin
fi

#Install antigen if it isn't installed
if [ ! -d ~/.local/bin/antigen ]; then
  echo "Cloning antigen"
  git clone https://github.com/zsh-users/antigen ~/.local/bin/antigen
fi

# #Install vundle for vim if it isn't installed
# if [ ! -d ~/.vim/bundle/Vundle.vim ]; then
#   echo "Cloning vundle"
#   git clone https://github.com/VundleVim/Vundle.vim.git ~/.vim/bundle/Vundle.vim
# fi

if [ ! -d ~/.local/bin/oh-my-tmux ]; then
    echo "Installing oh-my-tmux"
    git clone https://github.com/gpakosz/.tmux ~/.local/bin/oh-my-tmux
fi

if [ ! -d ~/.vim_runtime ]; then
  git clone --depth=1 https://github.com/amix/vimrc.git ~/.vim_runtime
  sh ~/.vim_runtime/install_awesome_vimrc.sh
fi

if [ ! -f ~/.tmux.conf ]; then
    echo "yes"
    #ln -s ~/.local/bin/oh-my-tmux/.tmux.conf ~/.tmux.conf
fi
